html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

img {
  position: absolute;
}

.mask--a { mask: url(mask_a.svg); }
.mask--b { mask: url(mask_b.svg); }
.hue--90 { filter: hue-rotate(90deg); }
.hue--180 { filter: hue-rotate(180deg); }
.hue--280 { filter: hue-rotate(280deg); }
.hue--360 { filter: hue-rotate(360deg); }
